body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:white;
    text-align: center;
}

button{
    width: 70px;
    height: 40px;
    margin-right: 10px;
}

