*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    height: 100%;
    gap: 1rem;
    background: tomato;
    padding: 4rem;
    display: grid;

    /* Auto-fill and Auto-fit */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 200px)); */

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    /* align-items: end; */
    justify-content: center; 
    place-items: end center;
}

.card{
    background: gray;
    width: 200px;
    height: 200px;
    display: grid;
    align-items: end;
    justify-content: center; /* this will move whole card-container - horizontally*/
    align-content: center; /* this will move whole card-container - vertically*/
}

.box{
    height: 100px;
    width: 100px;
    font-size: 1rem;
    color: black;
    border: solid;
    background: yellowgreen;
}

.footer{
    background: yellow;
    justify-items: center; /* this will move inside card-container*/
}

.box2{
    justify-self: start; /* this will move individual card*/
    align-self: flex-start;
}